*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */
.navbar{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#020617;
position:sticky;
top:0;
z-index:1000;
}

.logo{
color:#38bdf8;
}

.nav-links{
display:flex;
gap:25px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
transition:.3s;
}

.nav-links a:hover{
color:#38bdf8;
}

.menu-btn{
display:none;
font-size:26px;
cursor:pointer;
}

/* HERO */
.hero{
height:90vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:url("https://picsum.photos/1600/900?tech") center/cover;
}

.hero h1{
font-size:52px;
}

.typing{
margin-top:10px;
color:#38bdf8;
}

/* .btn{
padding:13px 28px;
background:#38bdf8;
border:none;
color:white;
cursor:pointer;
margin-top:20px;
border-radius:6px;
} */

.btn{
  padding:14px 32px;
  background:#38bdf8;
  border:none;
  color:white;
  cursor:pointer;
  border-radius:6px;
  font-weight:bold;
  transition:0.4s;
  position:relative;
  overflow:hidden;
}

/* HOVER EFFECT */
.btn:hover{
  color:black;
  transform:translateY(-3px) scale(1.05);
  box-shadow:0 10px 25px rgba(56,189,248,0.5);
}

/* GLOW EFFECT */
.btn::before{
  content:"";
  position:absolute;
  left:-100%;
  top:0;
  width:100%;
  height:100%;
  background:white;
  opacity:0.3;
  transition:0.5s;
}

.btn:hover::before{
  left:100%;
}


/* SECTIONS */
.about,.skills,.projects,.contact{
padding:90px 20px;
text-align:center;
}

/* SKILLS */
.skill-container{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.skill-card{
background:#020617;
padding:30px;
width:240px;
border-radius:10px;
transition:.4s;
}

.skill-card:hover{
transform:translateY(-10px);
background:#38bdf8;
}

/* PROJECT */
.project-container{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.project-card{
background:#020617;
padding:30px;
width:260px;
border-radius:10px;
}

/* CONTACT */
.contact input,.contact textarea{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:6px;
}

/* FOOTER */
footer{
background:#020617;
padding:25px;
text-align:center;
}

/* ANIMATION */
.reveal{
opacity:0;
transform:translateY(40px);
transition:.7s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

/* MOBILE */
@media(max-width:768px){

.nav-links{
display:none;
position:absolute;
right:0;
top:70px;
background:#020617;
flex-direction:column;
padding:20px;
}

.nav-links.show{
display:flex;
}

.menu-btn{
display:block;
}

.hero h1{
font-size:32px;
}

}
